.footer-container {
    min-height: 100vh;
  }
  .footer-footer {
    width: 100%;
    height: 501px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(103, 80, 164, 1);
  }
  .footer-frame8 {
    top: 346px;
    left: 0px;
    width: 1440px;
    height: 155px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .footer-text {
    top: 113px;
    left: 120px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: center;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text02 {
    top: 68px;
    left: 50px;
    color: var(--dl-color-surfaces-s1);
    width: calc(100%-100px);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 16px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .footer-frame7 {
    top: 0px;
    left: 11px;
    width: 1411px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
  }
  .footer-content1 {
    width: 332px;
    height: 346px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0px;
  }
  .footer-frame4 {
    top: 20px;
    left: 24px;
    width: 248px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .footer-text07 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text09 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text11 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text13 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text15 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text17 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text19 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text21 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text23 {
    color: var(--dl-color-surfaces-s1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .footer-text25 {
    color: rgba(255, 251, 254, 1);
    height: auto;
    font-size: 15px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: 16px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .footer-content2 {
    width: 332px;
    height: 346px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0px;
  }
  .footer-text27 {
    top: 21px;
    left: 27px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text29 {
    top: 66px;
    left: 27px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text31 {
    top: 98px;
    left: 27px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text33 {
    top: 130px;
    left: 27px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text35 {
    top: 162px;
    left: 25px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text37 {
    top: 194px;
    left: 26px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-content3 {
    width: 332px;
    height: 346px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0px;
  }
  .footer-text39 {
    top: 21px;
    left: 13px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text41 {
    top: 66px;
    left: 13px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text43 {
    top: 98px;
    left: 13px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text45 {
    top: 130px;
    left: 13px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-content4 {
    width: 325px;
    height: 346px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .footer-text47 {
    top: 22px;
    left: 29px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-text49 {
    top: 146px;
    left: 29px;
    color: var(--dl-color-surfaces-s1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .footer-logovisa1 {
    top: 58px;
    left: 29px;
    width: 67px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .footer-logojcb1 {
    top: 58px;
    left: 105px;
    width: 67px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .footer-logomaster1 {
    top: 58px;
    left: 181px;
    width: 67px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .footer-logovnpay1 {
    top: 58px;
    left: 258px;
    width: 67px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .footer-logobct1 {
    top: 236px;
    left: 29px;
    width: 122px;
    height: 47px;
    position: absolute;
    border-color: transparent;
  }
  .footer-nhattin1 {
    top: 182px;
    left: 29px;
    width: 53px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .footer-vnpost1 {
    top: 182px;
    left: 96px;
    width: 53px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  .footer-logosamsungpay1 {
    top: 100px;
    left: 29px;
    width: 67px;
    height: 26px;
    position: absolute;
    border-color: transparent;
  }
  